@use '../base/base' as *;

.services-btn, .go-back-btn {
    background-color: $primary-red;
    color: $white;
    padding: 0.7rem 1.5rem;
    @include transition(all, 0.3s, ease);
    border: none;
    &:hover {
        background-color:rgba($color: $primary-red, $alpha: 0.3);
        color: $black;
    }
} .subscribe-btn {
    background-color: $white;
    color: $black;
    padding: 0.5rem 2rem;
    border: none;
}

.form-btn {
    background-color: $primary-red;
    border: 1px solid $primary-red;
    color: $white;
    &:hover, &:focus {
        background-color: $white;
        color: $primary-red;
        border: 3px solid $primary-red;
    }
}