@use '../base/base' as *;
@use '../base/common' as *;

#final-cta {
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    margin: 4rem;
    .btn {
        margin: 2rem;
    }
}