@use '../base/base' as *;
@use '../base/common' as *;

#footer {
    @include flex-direction(row);
    justify-content: space-around;
    align-items: center;
    background-color: $black;
    color: $white;
    width: 100%;
    padding: 1rem;
    a {
        color: $white;
    }
    .links>ul {
        list-style: none;
        li {
            margin: 1rem 0;
        }
    } .footer-credits {
        * {
            margin: 1rem 0;
        }
    }
}