@use '../base/base' as *;
@use '../base/common' as *;

#hero {
    padding: 5rem 1rem;
    margin: 1rem 2.5rem;
    @include flex-direction(row);
    @include center-flex;
    .text-content {
        * {
            margin: 0.5rem 0;
        }
    }
    .img-content {
        margin: 0 3rem;
        @include flex-direction(row);
        @include center-flex;
        .img-content-left {
            img {
            min-height: 400px;
            max-width: 330px;
            }
        }
        .img-content-right {
            @include flex-direction(column);
            img {
                min-height: 400px;
                max-width: 340px;
            }
        }
    } 
}

@media (max-width: $md) {
    #hero {
        @include flex-direction(column);
        .text-content {
            margin-bottom: 2rem;
        } .img-content {
            .img-content-right {
                max-width: 305px;
                min-height: 270px;
            } .img-content-left {
                max-width: 300px;
                min-height: 360px;
            }
        }
    }
}