@use '../base/base' as *;
@use '../base/common' as *;

#not-found {
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
    * {
        margin: 1rem;
    }
}