@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;


#subscription-model {
    @include grid(repeat(8, 3rem), repeat(5, 1fr));
    .big {
        font-weight: 400;
        margin-bottom: 1rem;
        @include grid-pos(null, null, 3,5);
    } .subscription-cards {
        @include flex-direction(row);
        @include grid-pos(2, 8, 1,6);
        margin: 0 2rem;
        .subscription-card {
            padding: 1rem;
            ul {
                list-style: none;
                li {
                    margin: 0.5rem 0;
                }
            } .price-tag, .subscribe-btn {
                margin: 1rem 0;
            } &.basic {
                background-color: rgba($color: $black, $alpha: 0.4);
                color: $white;
            } &.pro {
                background-color: rgba($color: $primary-red, $alpha: 0.7);
                color: $white;
            } &.elite {
                background-color: $black;
                color: $white;
            }
        }
    }
}

@media (max-width: $sm) {
    #subscription-model {
        margin-bottom: 100vw;
        .big {
            @include grid-pos(null, null, 2,6);
        } .subscription-cards {
            @include flex-direction(column);
            .subscription-card {
                @include flex-direction(row);
                .big {
                    margin-left: -0.5rem;
                    font-size: 1.5rem;
                }
                .sub-benefits {
                    margin-right: 0.7rem;
                }
            }
        }
    }
}