@use '../base/base' as *;
@use '../base/common' as *;


#subscription-model {
    @include grid(repeat(8, 3rem), repeat(5, 1fr));
    .big {
        font-weight: 400;
        margin-bottom: 1rem;
        @include grid-pos(null, null, 3,5);
    } .subscription-cards {
        @include flex-direction(row);
        @include grid-pos(2, 8, 1,6);
        margin: 0 2rem;
    }
}

@media (max-width: $sm) {
    #subscription-model {
        margin-bottom: 100vw;
        .big {
            @include grid-pos(null, null, 2,6);
        } .subscription-cards {
            @include flex-direction(column);
            .subscription-card {
                @include flex-direction(row);
                .big {
                    margin-left: -0.5rem;
                    font-size: 1.5rem;
                }
                .sub-benefits {
                    margin-right: 0.7rem;
                }
            }
        }
    }
}