@use '../base/base' as *;
@use '../base/common' as *;

#trainer-section-wrapper {
    margin: 2rem;
    padding: 1rem;
    .big {
        text-align: center;
        margin: 4rem 0;
    } .trainer-swiper {
        max-width: 1000px;
        max-height: 600px;
    }
}
