@use '../base/base'as *;
@use '../base/common'as *;

.accordion {
    background-color: $white;
    color: $black;
    cursor: pointer;
    min-width: 100%;
    border: none;
    transition: 0.5s ease;
    padding: 1rem;
}

.active,
.accordion:hover {
    background-color: rgba($black, 0.5);
}

.panel {
    padding: 0 1rem;
    background-color: $white;
    color: $black;
    overflow: hidden;
    margin: 1rem 0;
}

.workout-section {
    margin: 4rem 0;
    text-align: center;

    .big {
        margin-bottom: 2rem;
    }
}