// flex
@mixin flex-direction($dir) {
    display: flex;
    flex-direction: $dir;
}
// position
@mixin position($dir) {
    position: $dir;
}
// transition
@mixin transition($element: all, $duration: 1s, $timing-funct: ease) {
    transition: $element $duration $timing-funct;
}
// center
@mixin center-flex {
    justify-content: center;
    align-items: center;
}
// responsive design
@mixin clamped-text ($min, $max) {
    font-size: clamp(#{$min}, 2.5vw, #{$max});
} @mixin media($key) {
    $value: map-get($breakpoints, $key);
    @if $breakpoint == $value {
        @media (min-width: $value) {
            @content;
        }
    }
}
// max-dimensions
@mixin max-dim($width, $height) {
    max-width: $width;
    max-height: $height;
}
// min-dimensions
@mixin min-dim($width, $height) {
    min-width: $width;
    min-height: $height;
}
// grid
@mixin grid($rows: null, $columns: null, $gap: null, $row-gap: null, $column-gap: null) {
  display: grid;
  gap: $gap;
  row-gap: $row-gap;
  column-gap: $column-gap;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
}
// grid start
@mixin grid-pos($row-start: null, $row-end: null, $col-start: null, $col-end: null) {
    grid-row-start: $row-start;
    grid-row-end: $row-end;
    grid-column-start: $col-start;
    grid-column-end: $col-end;
}