// color scheme
$black: #141414;
$white: #FFF8F0;
$primary-red: #A30B37;
$secondary-blue: #111D4A;
$accent-teal: #1F7A8C;
$md: 768px;
$sm: 480px;

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// links
a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color: $black;
}

// show / hide
.hide {
  display: none;
}